/*
   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Static Image Section
   f. Contact Section
   g. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  background: #0f0f0f;
  cursor: default;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../images/header.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text {
  width: 100%;
  background-color: #00000050;
  border-radius: 15px;
  padding: 30px;
}

header .banner-text h1 {
  font: 90px/1.1em "opensans-bold", sans-serif;
  color: #ffffff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px #000000cc;
  opacity: 0;
  animation: showText 0.5s linear forwards;
}

header .banner-text h3 {
  font: 18px/1.9em "librebaskerville-regular", serif;
  color: #bdbdbd;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px #00000080;
  opacity: 0;
  animation: showText 1s 0.5s linear forwards;
}

header .banner-text h3 span,
header .banner-text h3 a {
  color: #ffffff;
}

header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: #9696961a;
}

/* header social links */
header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px #000000cc;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

header .social li a {
  color: #ffffff;
}

header .social li a:hover {
  color: #1a7ed3;
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #ffffff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #ffffff;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .scrolldown a:hover {
  color: #1a7ed3;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px "opensans-bold", sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.opaque {
  background-color: #333333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
  background-color: #1a7ed3;
}

ul#nav {
  min-height: 48px;
  width: auto;
  /* center align the menu */
  text-align: center;
}

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  display: inline-block;
  padding: 8px 13px;
  margin-bottom: 0px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #ffffff;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
  background-color: transparent !important;
}

ul#nav li.current a {
  color: #1a7ed3;
}

ul#nav li a:hover {
  color: #1a7ed3;
}

/* Lang selectors */
ul#nav li.lang {
  position: fixed;
  right: 30px;
  vertical-align: middle;
}

ul#nav li.lang a#selected span {
  border-bottom: 3px solid #1a7ed3;
}

ul#nav li.lang a span img {
  vertical-align: middle;
}

ul#nav a.btn {
  display: inline-block;
  padding: 8px 5px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

ul#nav a.btn:hover {
  color: #1a7ed3;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: #2b2b2b;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about a,
#about a:visited,
#about a:link,
#about a:active {
  color: #ffffff;
}

#about h2 {
  font: 22px/30px "opensans-bold", sans-serif;
  color: #ffffff;
  margin-bottom: 12px;
}

#about p {
  line-height: 30px;
  color: #a7a7a7;
}

#about .profile-pic {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

#about .download {
  width: 58.33333%;
  padding-top: 6px;
}

#about .main-col {
  padding-right: 5%;
}

#about .download .button {
  margin-top: 6px;
  background: #444444;
}

#about .download .button:hover {
  background: #ffffff;
  color: #2b2b2b;
}

#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

.resume {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

.resume a,
.resume a:visited {
  color: #335384;
}

.resume a:hover,
.resume a:focus {
  color: #313131;
}

.resume h1 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.resume h1 span {
  border-bottom: 3px solid #1a7ed3;
  padding-bottom: 3px;
}

.resume h3 {
  font: 25px/30px "opensans-bold", sans-serif;
}

.resume .header-col {
  padding-top: 9px;
}

.resume .main-col {
  padding-right: 10%;
}

.education,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}

.resume .date,
.resume .resume-sec-title {
  font: 14px/20px "opensans-bold", sans-serif;
  margin-bottom: 7px;
  margin-top: 20px;
  color: #7a7c7c;
  font-weight: bold;
}

.resume .resume-sec-title {
  font-style: italic;
}

.resume .date {
  font-style: normal;
}

.resume .resume-sec-title span {
  margin-right: 5px;
  margin-left: 5px;
}

.resume .description {
  font: 15px;
  font-style: normal;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.skills-bar .bar {
  margin: 20px 0;
  padding: 0;
  text-align: left;
}

.bar em.name {
  font: 14px "opensans-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  text-align: left;
}

.bar em.subname {
  font: 10px "opensans-bold", sans-serif;
  color: #a9a9a9;
  margin-left: 7px;
  font-weight: normal;
  position: relative;
  text-align: left;
}

div.skill-info {
  line-height: 20%;
}

.skilltext p {
  font: 14px "opensans-bold", sans-serif;
  margin-top: 20px;
  color: #313131;
  font-weight: normal;
  position: relative;
  text-align: left;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

.skills-bar .bar:first-child {
  margin-top: 0px;
}

.skills-bar .bar .skill-info {
  margin-bottom: 5px;
}

.skills-bar .bar .skill-info em.name {
  font-weight: 500;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

.skills-bar .bar .skill-info em.subname {
  font-weight: 500;
  opacity: 0;
  animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 36px;
  width: 100%;
  background: #c5c5c5;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.10),
                    0px 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  height: 100%;
  background: #335384;
  border-radius: 4px;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line p {
  height: 100%;
  color: #c5c5c5;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  margin-left: 8px;
  top: 3px;
  opacity: 0;
  animation: showText 2s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

/* ------------------------------------------------------------------
/* e. Static Image
/* ------------------------------------------------------------------ */

#staticImage {
  background: #1f1f1f url(../images/static-image.jpg) no-repeat center center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed;
  position: relative;
  min-height: 150px;
  width: 100%;
  overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* f. Contact Section
/* ------------------------------------------------------------------ */

#contact {
  background: #191919;
  padding-top: 96px;
  padding-bottom: 102px;
  color: #636363;
  font-size: 105%;
}

#contact .section-head h2 {
  color: #e9e7e7;
  margin-bottom: 42px;
}

#contact h2 {
  font: 24px/34px "opensans-bold", sans-serif;
  color: #e9e7e7;
  margin-bottom: 12px;
  margin-top: 40px;
}

#contact p {
  padding: 0px;
}

#contact span a {
  cursor: default;
  text-decoration: none;
}

#contact span a:link, #contact span a:visited, #contact span a:active { color: #636363 }

#contact span a:hover {
  color: #c5c5c5;
  font-weight: bold;
  transition: color 0.3s;
}

#contact .contact-info:hover {
  color: #c5c5c5;
  font-weight: bold;
  transition: color 0.3s;
}

#contact .icon-name:before {
  font-family: "FontAwesome";
  content: "\f007";
  padding-right: 30px;
  font-size: 20px;
  color: #c5c5c5;
  margin-bottom: 10px;
}

#contact .icon-phone:before {
  font-family: "FontAwesome";
  content: "\f095";
  padding-right: 30px;
  font-size: 20px;
  color: #c5c5c5;
  margin-bottom: 10px;
}

#contact .icon-mail:before {
  font-family: "FontAwesome";
  content: "\f0e0";
  padding-right: 30px;
  font-size: 20px;
  color: #c5c5c5;
  margin-bottom: 10px;
}

#contact .icon-home:before {
  font-family: "FontAwesome";
  content: "\f015";
  padding-right: 30px;
  font-size: 20px;
  color: #c5c5c5;
  margin-bottom: 10px;
}

#contact .icon-earth:before {
  font-family: "FontAwesome";
  content: "\f0ac";
  padding-right: 30px;
  font-size: 20px;
  color: #c5c5c5;
  margin-bottom: 10px;
}

/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
  font: 15px/24px 'opensans-bold', sans-serif;
  margin: 12px 0;
  color: #e9e7e7;
  display: block;
  float: left;
  width: 26%;
}

#contact textarea {
  resize: none;
}

#contact input,
#contact textarea,
#contact select {
  padding: 18px 20px;
	color: rgb(250, 229, 229);
	background: #373233;
	margin-top: 42px;
	border: 0;
	outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 65%;
  border-radius: 3px;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: #ffffff;
  background-color: #1a7ed3;
}

#contact button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#ffffff;
  background: #0D0D0D;
	border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
	border-radius: 3px;
  margin-left: 26%;
  margin-top: 42px;
}

#contact button.submit:hover {
	color: #0D0D0D;
	background: #ffffff;
}

#contact span.required {
	color: #1a7ed3;
	font-size: 13px;
}

#message-warning, #message-success {
  display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
  width: 65%;
  margin-left: 26%;
}

div[id^="message-missing-"] {
  display: none;
  background: #0F0F0F;
	padding: 12px 12px;
	margin-bottom: 12px;
  width: 65%;
  margin-left: 26%;
}

#message-warning, div[id^="message-missing-"] {
  color: #D72828;
}

#message-success { 
  color: #11ABB0;
}

#message-warning i,
#message-success i,
div[id^="message-missing-"] i {
  margin-right: 10px;
}

#image-loader {
  display: none;
  position: relative;
  left: 18px;
  top: 17px;
}

/* ------------------------------------------------------------------ */
/* g. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  margin-bottom: 48px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer a,
footer a:visited {
  color: #525252;
}

footer a:hover,
footer a:focus,
footer .copyright li:hover,
footer .copyright li:focus {
  color: #ffffff;
  font-weight: bold;
}

footer .copyright li:hover {
  transition: all 0.4s ease-in-out;
}

footer .copyright {
  margin: 0;
  padding: 0;
}

footer .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: #525252;
}

.ie footer .copyright li {
  display: inline;
}

footer .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #525252;
}

footer .copyright li:first-child:before {
  display: none;
}

footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
  color: #1a7ed3;
}
footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;
}

footer .social-links li:first-child {
  margin-left: 0;
}

#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: #ffffff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}

#go-top a:hover {
  background-color: #1a7ed3;
}
